:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* TODO My styles (move later) */

body {
  margin: 0 1rem;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
}

.activity-card {
  background: rgb(26, 35, 55);
  padding: 2rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.activity-card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.activity-card h3 {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}

#ls-keyart {
  width: 100%;
  height: auto;
}

.image-rounded {
  border-radius: 5px;
}

.activity-metadata {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;
}

.activity-metadata:last-child {
  margin-bottom: 0;
}

.activity-metadata h4 {
  font-weight: 400;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.activity-metadata img {
  margin-right: 1rem;
}

.reward-image {
  cursor: pointer;
}

.modal-image-container {
  width: 400px;
  height: 225px;
  border-radius: 5px;
}

.modal-image-container img {
  position: relative !important;
  border-radius: 5px;
}

.activity-metadata img:last-child {
  margin-right: 0;
}

@media screen and (max-width: 890px) {
  body {
    margin: 0 0.5rem;
  }

  main {
    margin: 1rem auto;
  }

  .activity-card {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .activity-card h2 {
    font-size: 1.5rem;
  }

  .activity-metadata img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.75rem;
  }

  .activity-metadata {
    margin-bottom: 1rem;
  }
}
